In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv("/home/gagandeep/Public/Projects/kedro/kedro_ml/ds-salaries/data/01_raw/ds_salaries.csv",index_col=0)

df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [3]:
X = df.drop(columns=['salary_currency','salary_in_usd'])
y = df['salary_in_usd']

In [8]:
X = pd.get_dummies(X)
X.head()

,work_year,salary,remote_ratio,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,...,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
0,2020,70000,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,2020,260000,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,2020,85000,50,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,2020,20000,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,2020,150000,50,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,1,0,0

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [20]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [21]:
y_pred = regressor.predict(X_test)

In [22]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

In [23]:
print(f'Mean absolute error: {mae:.2f}')
print(f'Mean squared error: {mse:.2f}')
print(f'Root mean squared error: {rmse:.2f}')

Mean absolute error: 43664.52
Mean squared error: 3481398372.74
Root mean squared error: 59003.38

In [25]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=4,n_estimators=20)

In [26]:
rfr.fit(X_train, y_train)
rfr_pred = rfr.predict(X_test)

In [27]:
print('rfr training score: ',rfr.score(X_train, y_train))
print('rfr testing score:  ',rfr.score(X_test, y_test))
print('mean_squared_error: ', mean_squared_error(rfr_pred, y_test, squared=False))

rfr training score:  0.9552559730777191
rfr testing score:   0.8081657204819291
mean_squared_error:  33072.900076195314